# General files and directories by pattern
/.venv
/.idea
/.vscode

# Data and output directories
/data
**/data
**/output
**/checkpoints
**/predictions
**/**/experiments
**/**/wandb
**__pycache__
**slurm-*

# Specific files and directories
slurm_run_scripts/
create_plots_for_paper/
