# General files and directories by pattern
/.venv
/.idea
/data
**/data
**/output
**/experiments
**/**/*.pt
**/**/*.pth
**/**/wandb
/__pycache__
**/__pycache__
**/**/__pycache__

# Specific files and directories
environment.yml
