# General files and directories by pattern
/.venv
/.idea
/data
**/data
**/output
**/experiments
**/**/experiments
**/**/*.pt
**/**/*.pth
**/**/wandb
/__pycache__
**/__pycache__
**/**/__pycache__
**slurm-*

# Specific files and directories
environment.yml
/automated_run_scripts
generative/pt_experiments